body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:479px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#6B6C6D;
  line-height:18px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:404px;
  height:22px;
  display:flex;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#6B6C6D;
  line-height:18px;
}
#u639 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#6B6C6D;
  line-height:18px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:94px;
  width:404px;
  height:22px;
  display:flex;
  font-family:"Arial-ItalicMT", "Arial Italic", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#6B6C6D;
  line-height:18px;
}
#u640 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6C6D;
  line-height:24px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:50px;
  width:479px;
  height:24px;
  display:flex;
  font-family:"HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6C6D;
  line-height:24px;
}
#u641 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"HelveticaNeue", "Helvetica Neue", sans-serif;
  font-style:normal;
  color:#6B6C6D;
  line-height:24px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:125px;
  width:479px;
  height:312px;
  display:flex;
  font-family:"HelveticaNeue", "Helvetica Neue", sans-serif;
  font-style:normal;
  color:#6B6C6D;
  line-height:24px;
}
#u642 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
