
.travel-advisory-panel {
  padding: 16px;
  background-color: #f9f1c6;
  border: 1px solid #faebcc;
  border-radius: 4px;
  color: #6c4a00;
  box-sizing: border-box;
  position: absolute;
  font-weight: 700;
  width: 30%;
  top: -44px;
  right: 0;
  cursor: pointer;
  z-index: 1001;
}

.travel-advisory-panel-full {
  padding: 24px;
  background-color: #f9f1c6;
  border: 1px solid #faebcc;
  color: #6c4a00;
  box-sizing: border-box;
  position: absolute;
  top: 1rem;
  right: 0;
  width: 30%;
  height: 100%;
  text-align: left;
  z-index: 1001;
}

.travel-advisory-panel-content {
  height: 100%;
  overflow-y: auto;
}

.travel-advisory-header {
  font-weight: bold;
}

.travel-advisory-header-count {
  margin-left: 20px;
}

.travel-advisory-title {
  margin: 10px 0;
  font-weight: bold;
}

.travel-advisory-desc {
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.travel-advisory-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  min-width: 0;
  line-height: 1.25rem;
  height: auto;
  background: none;
  border:none;
  font-size: 1rem;
  cursor: pointer;
}
