.map-wrap {
  position: absolute;
  top: 3rem;
  bottom: 0;
  width: 100%;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

button {
  height: 3rem;
  min-width: 3rem;
  font-size: 2rem;
  position: absolute;
  user-select: none;
}

.my-location {
  right: 2rem;
  bottom: 10rem;
}

.zoom-in {
  right: 2rem;
  bottom: 6rem;
}

.zoom-out {
  right: 2rem;
  bottom: 2rem;
}


