.map-wrap {
  position: absolute;
  top: 3rem;
  bottom: 0;
  width: 100%;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

button {
  height: 3rem;
  min-width: 3rem;
  font-size: 2rem;
  position: absolute;
  user-select: none;
}

.map-control {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-control button {
  height: 54px;
  width: 54px;
  text-align: center;
  position: relative;
  margin: auto;
  padding: initial;
  background: #fff;
}

@media screen and (max-width: 729px) {
  .map-control {
    right: 14px;
  }
}
