
.open-routes, .routes {
  top: 3rem;
  left: 60px;
  position: absolute;

}

.close-routes {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  min-width: 0;
  line-height: 1.25rem;
  height: auto;
  background: none;
  border: none;
  font-size: 1rem;
}

.routes {
  width: 22rem;
  min-height: 20rem;
  padding: 16px;
  background: #fff;
  border: solid 1px rgb(118, 118, 118);
}

.anchor {
  width: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 22px 0 0 0;
  height: 34px;
  border-radius: 50%;
  padding-top: 4px;
  background: #003399;
  color: #fff;
}

.anchor-b {
  background: #009933;
}

.starting {
  display: flex;
}

.starting .text {
  border-bottom: 1px solid rgb(118,118,118,0.25);
  width: 100%;
  padding-bottom: 24px;
  margin-left: 12px;
}
.starting .text h3,
.notification h3 {
  margin-bottom: 6px;
}

.starting .text p,
.notification p {
  margin-top: 0;
  margin-bottom: 16px;
}

.notification p {
  margin-bottom: 12px;
}

.options {
  display: flex;
}

.option {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
}

.option-label {
  margin-top: 6px;
}

.current-location-icon {
  font-size: 2rem;
  font-weight: bold;
  width: 64px;
  border: 3px solid rgb(204, 204, 204);
  height: 64px;
  border-radius: 50%;
  text-align: center;
  padding-top: 11px;
  cursor: grab;
}

.get-route {
  margin: 1rem 0;
  position: relative;
  width: 100%;
}

.form-route.text_input {
  font-size: 1em;
  padding: 12px;
  width: 100%;
}
