.ax_default {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.image {
}
.heading_1 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.heading_11 {
  font-family:"HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:"HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_31 {
  font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:21px;
  text-align:left;
}
.heading_41 {
  font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.label {
  font-size:16px;
  text-align:left;
}
.link {
}
.caption {
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:13px;
  color:#666666;
  text-align:left;
  line-height:20px;
}
.feedback_message {
  text-align:left;
}
.line {
}
.text_field {
  font-size:16px;
  color:#6B6C6D;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  font-family:"HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.primary_button {
  font-family:"HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.icon {
}
textarea, select, input, button { outline: none; }
